In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("25100072_2.ipynb")

# **Assignment 1 (Part 2)**

<h3>Assignment Instructions</h3>

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`

<h3>Submission Instructions</h3>

* There are two parts of this assignment. You should name both notebooks as **YourRollNumber_PartNumber.ipynb**. (e.g. this part should be named as *`2XXXXXXX_2.ipynb`*)
* You must submit a zip file containg just two notebooks and it must not has any folder or any other file. 
* The name of the zip file must be your `RollNumber_PA1`

Please run the cell below to import all the necessary libraries that you would require for this part

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h3>Context about the datasets</h3>

Given the rise in obesity we are aware that there is a huge chance that a person may be affected by the heart disease. In this assignment we are going to explore a dataset which contains information about individuals heart rate and oxygen saturation. In this part we are going to analyze the data and generate sufficent results from it.

Note: The output column is binary (0 or 1) and signifies whether the individual has had a heart attack (1 if they have had a heart attack).

**Question 0:** Please load the two dataset files inside the variables `heartDf` and `o2SaturationDf` respectively

In [3]:
heartDf = pd.read_csv('heart.csv')
o2SaturationDf = pd.read_csv('o2saturation.csv')

In [4]:
grader.check("Q0")

Q0 results: All test cases passed!

**Question 1:** Find the shapes of both datasets and assign them to `heartDfShape` and `o2DfShape` respectively

In [5]:
heartDfShape = heartDf.shape
o2DfShape = o2SaturationDf.shape

In [6]:
grader.check("Q1")

Q1 results: All test cases passed!

**Question 2A:** Use a pandas function to display all characteristics (including min, max, quartiles, count, mean) of all numerical attributes of both dataframes. Store these in the variables `heartdf_description` & `o2df_description` respectively.

In [7]:
heartdf_description = heartDf.describe()
o2df_description = o2SaturationDf.describe()

In [8]:
grader.check("Q2a")

Q2a results: All test cases passed!

**Question 2B:** Use a pandas function to display the number of occurances of all unique values of sex in the dataset. Store these in the variable `gender_distribution`.

In [9]:
gender_distribution = heartDf['sex'].value_counts()

In [10]:
grader.check("Q2B")

Q2B results: All test cases passed!

**Question 3A:** Prepare the two dataframes for merging by making the following column changes to both the dataframes. 
<h5>For Heart Dataset</h5>
<ul>
<li>exng -> exercise induced angina</li>
<li>caa -> number of major vessels</li>
<li>cp -> chest pain type</li>
<li>trtbps -> resting blood pressure</li>
<li>chol -> cholestrol levels</li>
<li>restecg -> resting electrocardiographic </li> 
<li>thalachh-> maximum heart rate</li>
<li>fbs-> fasting blood sugar > 120mg/dl</li>
<li>oldpeak -> old peak </li>
</ul>
<h5>For O2 Saturation Dataset </h5>
<ul>
<li>sat -> O2 saturation</li>
</ul>

In [11]:
heartDf.rename(columns={'exng':'exercise induced angina','caa':'number of major vessels','cp':'chest pain type','trtbps':'resting blood pressure','chol':'cholesterol levels','restecg':'resting electrocardiographic','thalachh':'maximum heart rate','fbs':'fasting blood sugar > 120mg/dl','oldpeak':'old peak'}, inplace=True) 
o2SaturationDf.rename(columns={'sat':'O2 saturation'}, inplace=True)

In [12]:
grader.check("Q3A")

Q3A results: All test cases passed!

In [13]:
o2SaturationDf.head(5)

   O2 saturation
0           98.6
1           98.6
2           98.6
3           98.1
4           97.5

In [14]:
heartDf.head(5)

,age,sex,chest pain type,resting blood pressure,cholesterol levels,fasting blood sugar > 120mg/dl,resting electrocardiographic,maximum heart rate,exercise induced angina,old peak,slp,number of major vessels,thall,output
0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1
1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1
2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1
3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1
4,57,0,0,120.0,354.0,0,1,163.0,1,0.6,2,0,2,1

In [15]:
heartDf.columns

Index(['age', 'sex', 'chest pain type', 'resting blood pressure',
       'cholesterol levels', 'fasting blood sugar > 120mg/dl',
       'resting electrocardiographic', 'maximum heart rate',
       'exercise induced angina', 'old peak', 'slp', 'number of major vessels',
       'thall', 'output'],
      dtype='object')

**Question 3B:** Peform a merge operation so that we can better compare our results and reach an appropriate conclusion.

In [16]:
mergedDf = pd.merge(heartDf, o2SaturationDf, left_index=True, right_index=True, how='outer')

In [17]:
grader.check("Q3B")

Q3B results: All test cases passed!

In [18]:

print(mergedDf.dtypes)

age                                 int64
sex                                 int64
chest pain type                     int64
resting blood pressure            float64
cholesterol levels                float64
fasting blood sugar > 120mg/dl      int64
resting electrocardiographic        int64
maximum heart rate                float64
exercise induced angina             int64
old peak                          float64
slp                                 int64
number of major vessels             int64
thall                               int64
output                              int64
O2 saturation                     float64
dtype: object

**Question 4:** Categorize the individuals based on their age group using the following groupings in the corresponding variable names with `loc`:
<ul>
<li>Below 40 years of age</li>
<li>In the range of 40-50 years of age</li>
<li>In the range of 50-60 years of age</li>
<li>In the range of 60-70 years of age</li>
<li>70 or above years of age</li>
</ul>

<b>Note: </b> Only the lower bound is inclusive in the above age group range. You are to store the results in the variables given in the cell below.

In [19]:
belowForty = mergedDf.loc[mergedDf['age'] < 40]
ageBtw40_50 = mergedDf.loc[(mergedDf['age'] >= 40) & (mergedDf['age'] < 50)]
ageBtw50_60 = mergedDf.loc[(mergedDf['age'] >= 50) & (mergedDf['age'] < 60)]
ageBtw60_70 = mergedDf.loc[(mergedDf['age'] >= 60) & (mergedDf['age'] < 70)]
aboveSeventy = mergedDf.loc[(mergedDf['age'] >= 70) ]

In [20]:
grader.check("Q4")

Q4 results: All test cases passed!

**Question 5A:**  Group the data by 'sex' and find the average age for each group. <br/>

Store the result in the variable `mean_ages_by_sex`.

In [21]:
mean_ages_by_sex = mergedDf.groupby('sex')['age'].mean()

In [22]:
grader.check("Q5A")

Q5A results: All test cases passed!

**Question 5B:**  Extract rows for patients whose maximum heart rate is within 10% of the mean heart rate across all patients. <br/>

Store the result in the variable `patients_with_normal_heartrate`.

In [23]:
mean_hr = mergedDf['maximum heart rate'].mean()

lower_bound = mean_hr * 0.9  # 10% below the mean
upper_bound = mean_hr * 1.1  # 10% above the mean

patients_with_normal_heartrate = mergedDf.loc[(mergedDf['maximum heart rate'] >= lower_bound) & (mergedDf['maximum heart rate'] <= upper_bound)]

In [24]:
grader.check("Q5B")

Q5B results: All test cases passed!

**Question 5C:**  For patients younger than 50, find the average cholesterol levels for those with a maximum heart rate above 160. <br/>

Store the result in the variable `mean_cholesterol_youngerPatients`.

In [25]:
df_filtered = pd.concat([belowForty,ageBtw40_50])
mean_cholesterol_youngerPatients = df_filtered.loc[(df_filtered['maximum heart rate'] > 160)].mean()
mean_cholesterol_youngerPatients = mean_cholesterol_youngerPatients[4]

C:\Users\sehar\AppData\Local\Temp\ipykernel_26444\4028516992.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  mean_cholesterol_youngerPatients = mean_cholesterol_youngerPatients[4]

In [26]:
print(mean_cholesterol_youngerPatients)

232.3653846153846

In [27]:
grader.check("Q5C")

Q5C results: All test cases passed!

**Question 5D:** Define a custom function that classifies a patient as `high risk` if their cholesterol level is above 240 and their `maximum heart rate` is below 120. Apply this function to each group of patients with different `chest pain type`s and count how many patients meet these high-risk conditions for each chest pain type. You will be using `.apply` for this task. <br/>

Store the result in the variable `high_risk_counts`.

In [28]:
def high_risk_filter(row):
    if row['cholesterol levels'] > 240 and row['maximum heart rate'] < 120:
        return True
    else:
        return False

In [29]:
grouped_by_chest_pain = mergedDf.groupby('chest pain type')

In [30]:
high_risk_counts = grouped_by_chest_pain.apply(lambda group: group.apply(high_risk_filter, axis=1).sum())

In [31]:
grader.check("Q5D")

Q5D results: All test cases passed!

**Question 6:**  Is the average resting blood pressure of individuals in the (Above 70 age group) greater than the resting blood pressure of inviduals that are below 40 years old? <br/>
Store the result in `meanOfAboveSeventy` & `meanOfBelowForty` variables. <br/> Also the variable `ans` must contain a string such as a 'Yes' or 'No' as the test cases check for it. <br>
<b>Note: </b>You are not allowed to use the mean() method but rather calculate the mean mathematically.

In [32]:
meanOfAboveSeventy = aboveSeventy['resting blood pressure'].sum() / len(aboveSeventy)
meanOfBelowForty = belowForty['resting blood pressure'].sum() / len(belowForty)


if meanOfAboveSeventy > meanOfBelowForty:
    q6ans = "Yes"
else:
    q6ans = "No"

In [33]:
grader.check("Q6")

Q6 results: All test cases passed!

**Question 7:** What is the most occuring value for oxygen saturation in individuals that fall into the age group of 50-60 ? <br>
Store the value in the variable `frequentO2Saturation`.

In [34]:
frequentO2Saturation = mergedDf['O2 saturation'].mode().values[0]
print(frequentO2Saturation)

97.5

In [35]:
grader.check("Q7")

Q7 results: All test cases passed!

**Question 8:** Find the most prevalent type of chest pain for all age groups mentioned above and store it in the corresponding variable. Also, find the most prevalent type of chest pain across all the individuals and store your result in `mostObservedChestPain`.

In [36]:
belowFortyChestPain = belowForty['chest pain type'].mode().values[0]
ageBtw40_50ChestPain = ageBtw40_50['chest pain type'].mode().values[0]
ageBtw50_60ChestPain = ageBtw50_60['chest pain type'].mode().values[0]
ageBtw60_70ChestPain = ageBtw60_70['chest pain type'].mode().values[0]
aboveSeventyChestPain = aboveSeventy['chest pain type'].mode().values[0]
mostObservedChestPain = mergedDf['chest pain type'].mode().values[0]

In [37]:
grader.check("Q8")

Q8 results: All test cases passed!

**Question 9:** Calculate the <b>median</b> cholestrol levels for all the age groups.<br>
<b>Note: </b> Here the variable `listOfDf` contains all the age groups that you have previously calculated in question <b>6</b>.

In [38]:
listOfDf = [belowForty,ageBtw40_50,ageBtw50_60,ageBtw60_70,aboveSeventy]
medianOfAllCholLevels = [df['cholesterol levels'].median() for df in listOfDf]

In [39]:
grader.check("Q9")

Q9 results: All test cases passed!

**Question 10:**  Using a pivot table, show the gender distribution across dfferent chest pain types. Store the result in `gender_count`.

In [40]:
gender_count = mergedDf.pivot_table(index='chest pain type', columns='sex', aggfunc='size', fill_value=0)

In [41]:
grader.check("Q10")

Q10 results: All test cases passed!

**Question 11:**  Calculate the percentage of males (1) and females (0) who are diagnosed with exercise induced angina. Round the result to three decimal places and store the result in `male_prop` and `female_prop` respectively<br/>
<b>Note:</b> 1 means they have exercise induced angina whereas 0 means they do not.

In [42]:
# Calculate total counts of males and females
total_males = mergedDf[mergedDf['sex'] == 1].shape[0]
total_females = mergedDf[mergedDf['sex'] == 0].shape[0]

# Calculate counts of males and females diagnosed with exercise induced angina (1)
males_with_angina = mergedDf[(mergedDf['sex'] == 1) & (mergedDf['exercise induced angina'] == 1)].shape[0]
females_with_angina = mergedDf[(mergedDf['sex'] == 0) & (mergedDf['exercise induced angina'] == 1)].shape[0]

# Calculate the percentages
male_prop = round((males_with_angina / total_males) * 100, 3) if total_males > 0 else 0
female_prop = round((females_with_angina / total_females) * 100, 3) if total_females > 0 else 0

In [43]:
grader.check("Q11")

Q11 results: All test cases passed!

**Question 12:**  What is the maximum heart rate across the different age groups ? 
Store the max heart rates obtained in the variable `heartRates`.

In [44]:
heartRates =  [df['maximum heart rate'].max() for df in listOfDf]
heartRates

[202.0, 194.0, 195.0, 179.0, 162.0]

In [45]:
grader.check("Q12")

Q12 results: All test cases passed!

In [46]:
mergedDf.columns

Index(['age', 'sex', 'chest pain type', 'resting blood pressure',
       'cholesterol levels', 'fasting blood sugar > 120mg/dl',
       'resting electrocardiographic', 'maximum heart rate',
       'exercise induced angina', 'old peak', 'slp', 'number of major vessels',
       'thall', 'output', 'O2 saturation'],
      dtype='object')

In [47]:
mergedDf

,age,sex,chest pain type,resting blood pressure,cholesterol levels,fasting blood sugar > 120mg/dl,resting electrocardiographic,maximum heart rate,exercise induced angina,old peak,slp,number of major vessels,thall,output,O2 saturation
0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1,98.6
1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1,98.6
2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1,98.6
3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1,98.1
4,57,0,0,120.0,354.0,0,1,163.0,1,0.6,2,0,2,1,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,57,1,0,123.0,NaN,0,1,123.0,0,0.0,1,2,3,0,NaN
305,58,0,1,NaN,235.0,0,1,123.0,0,0.0,1,2,3,0,NaN
306,58,0,1,NaN,235.0,0,1,125.0,0,0.0,1,2,3,0,NaN
307,58,0,1,NaN,189.0,0,1,90.0,0,0.0,1,2,3,0,NaN
308,58,0,1,150.0,235.0,0,1,NaN,0,0.0,1,2,3,0,NaN

**Question 13A:**  How many people have cholestrol values greater than the threshold value given below ? Store it in the variable `numberOfPeople`. 
<br>
<ul>
<li>Cholestrol Threshold Level: 300</li>
</ul>

Also calculate the probability of these people getting a heart attack and store the result, rounded off to three decimal places, in `probability`.

In [48]:
numberOfPeople = mergedDf.loc[(mergedDf['cholesterol levels'] > 300)].count().values[0]
heart_attack_cases = mergedDf.loc[(mergedDf['cholesterol levels'] > 300) & (mergedDf['output'] == 1)]

probability = round(heart_attack_cases.shape[0] / numberOfPeople, 3) if numberOfPeople > 0 else 0

In [52]:
print(probability)

0.535

In [50]:
grader.check("Q13A")

Q13A results: All test cases passed!

In [51]:
mergedDf.head(5)

,age,sex,chest pain type,resting blood pressure,cholesterol levels,fasting blood sugar > 120mg/dl,resting electrocardiographic,maximum heart rate,exercise induced angina,old peak,slp,number of major vessels,thall,output,O2 saturation
0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1,98.6
1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1,98.6
2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1,98.6
3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1,98.1
4,57,0,0,120.0,354.0,0,1,163.0,1,0.6,2,0,2,1,97.5

<!-- BEGIN QUESTION -->

**Question 13B:**  Do you think people with such cholesetrol levels have a higher probability of getting an heart attack than those with lower cholesterol levels? Justify this claim by providing a valid reason.

In [57]:
# Probability of people getting heart attack with Higher Cholestrol Levels
numberOfPeople = mergedDf.loc[(mergedDf['cholesterol levels'] > 300)].count().values[0]
heart_attack_cases = mergedDf.loc[(mergedDf['cholesterol levels'] > 300) & (mergedDf['output'] == 1)]

probability = round(heart_attack_cases.shape[0] / numberOfPeople, 3) if numberOfPeople > 0 else 0

# Probability of people getting heart attack with Lower Cholestrol Levels

numberOfPeople_lower = mergedDf.loc[(mergedDf['cholesterol levels'] < 300)].count().values[0]
heart_attack_cases_lower = mergedDf.loc[(mergedDf['cholesterol levels'] < 300) & (mergedDf['output'] == 1)]

probability_lower = round(heart_attack_cases_lower.shape[0] / numberOfPeople_lower, 3) if numberOfPeople_lower > 0 else 0

In [58]:
print(f'High Cholestrol: {probability}, Lower Cholestrol {probability_lower}')

High Cholestrol: 0.535, Lower Cholestrol 0.538

From the above calculation we can see that both groups are equally likely to have a heart attack. People with lower cholestrol levels have slightly higher chances than people with higher cholestrol.

<!-- END QUESTION -->

**This marks the end of Assignment 1 Part 2 :) <br> Hooray! You made it to the end now give your self a pat on the back!**